html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #f0f0f0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  font-family: 'Segoe UI', '微軟正黑體', sans-serif;
}

/* START */

.debug, .debug * {
  /* outline: 1px solid red; */
}

.postpone {
	box-sizing: border-box;
	border-top: 8px solid #fad312;
	background-color: white;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	padding: 54px 40px 35px 40px;
	max-width: 639px;
	/* 我根據設計稿利用 margin 和 padding 設定表單內元素間的距離，並在最後加入整個表單的高度 1085px 
	，但最後還是爆版了，想問為甚麼會這樣? */
	/* height: 1085px; */
	margin: 129px auto 66px auto;
}

.postpone-title {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 35px;
}

.postpone-description {
	font-size: 14px;
	line-height: 28px;
	margin-bottom: 22px;
}

.postpone-needed {
	display: inline-block;
	margin-bottom: 55px;
	color: #e74149;
	font-size: 16px;
}

.postpone-needed::before {
	content: '* ';
	color: #e74149;
}

.postpone-group {
	margin-bottom: 49px;
}

.postpone-group input {
	box-sizing: border-box;
	border: 1px solid #d0d0d0;
}

.postpone-group input:not([type="radio"]) {
	max-width: 287px;
	width: 100%;
	height: 23px;
}

.postpone-group input::placeholder {
	font-size: 16px;
	color: #afafaf;
}

.postpone-group label {
	display: block;
}

.postpone-type {
	font-size: 20px;
	margin-bottom: 20px;
}

.needed::after {
	content: ' *';
	color: #e74149;
}

.postpone-advise {
	font-size: 14px;
	margin-bottom: 24px;
}

.postpone-btn {
	outline: none;
	border: 1px solid #fad312;
	box-sizing: border-box;
	width: 92px;
	height: 40px;
	border-radius: 3px;
	background-color: #fad312;
	font-size: 15px;
}

/* 學 bootstrp 命名，但覺得這樣只設定單一屬性的 class 不太好，不知道怎麼做可以更好? 
  關於這部分的命名不知道老師助教有沒有什麼建議?*/
.mt-21 {
	margin-top: 21px;
}

.mb-23 {
	margin-bottom: 23px;
}

@media (max-width: 476px) {
	.postpone {
		margin: 129px 10px 30px 10px;
	}
	
	.postpone-title {
		font-size: 24px;
	}
}

footer {
	background-color: black;
	padding: 26px;
	font-size: 13px;
	color: #999999;
	text-align: center;
}